@import url(../Css/global_styles.css);

:root {
  --primary-color: #fdce58;
  --secondary-color: #2aa42a;
  --hover-color: #beb4b4;
  --shadow: #4ababe;
}

.event {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  margin: 30px auto;

  max-width: 1088px;
  min-height: 227px;
}

h2,
h3 {
  margin: 10px 20px;
}

p {
  margin: 0px;
}

.text {
  margin: 10px 20px;
}

.event_style {
  margin: 0px;
  min-height: 61px;
  background-color: var(--secondary-color);
}
