@import url(../css/global_styles.css);

:root {
  --primary-color: #fdce58;
  --secondary-color: #2aa42a;
  --hover-color: #beb4b4;
  --shadow: #4ababe;
}

.explore,
.exhibtions,
.booking,
.special_events {
  border: solid lightgray 1px;
  margin: 10px auto;
  max-width: 800px;
}

.image {
  width: 100%;
  height: auto;
}
.linkButton {
  width: 180px;
  height: 51px;
  font-size: 17px;
  background-color: var(--secondary-color);
  border: none;
  box-shadow: var(--shadow) 0px 3px 6px;
  margin: 10px;
  display: flex;
  text-decoration: none;
  color: black;
  justify-content: center;
  line-height: 3em;
}

.linkButton:hover {
  background-color: var(--hover-color);
}

h3 {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.text {
  margin: auto;
  max-width: 400px;
}
h2 {
  display: flex;
  justify-content: center;
}

@media (min-width: 900px) {
  .button {
    margin: auto 10px 10px 10px;
  }

  a > button {
    font-size: 19px;
  }

  h3 {
    color: var(--secondary-color);
  }

  .explore,
  .exhibtions,
  .special_events,
  .booking {
    max-width: 606px;
  }

  main {
    display: grid;
    grid-template-areas:
      "h1 h1 "
      "explore exhibit"
      "booking event";
  }

  .explore {
    grid-area: explore;
    margin-right: 8px;
  }
  .admission_info {
    grid-area: admission;
    margin-left: 0px;
    min-height: 1040px;
  }
  .booking {
    grid-area: booking;
    margin-right: 8px;
  }
  .special_events {
    grid-area: event;
    margin-left: 8px;
  }
  .exhibtions {
    grid-area: exhibit;
    margin-left: 8px;
  }
  h1 {
    grid-area: h1;
  }
}
